<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="org.sralab.emgimu.controller">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_controller">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Telepresence"
            android:label="Teleprescence"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.sralab.emgimu.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LearningGameActivity"
            android:label="@string/title_activity_controller"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="org.sralab.emgimu.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>