<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="org.sralab.emgimu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To support older versions -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>

    <!-- Include "neverForLocation" only if you can strongly assert that
     your app never derives physical location from Bluetooth scan results. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Despite the fact the above flag should make this unnecessary when
    targeting Android 12 (as we do), for some reason it is required when
    running on devices using anything prior to 12 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Android 10 and above need the ACCESS_BACKGROUND_LOCATION permission to get location in the background -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- New permissions for Android 13 and above -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:targetApi="33"/>

    <!-- Permissions required for proper functioning of the app -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Required for analytics -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <service
            android:name=".EmgImuService"
            android:exported="true"
            android:label="@string/emgimu_feature_title">
        </service>

        <service android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/sral_orange" />

    </application>

</manifest>
